# Зависимости
node_modules/
vendor/

# Файлы окружения
.env
.env.local
.env.*.local

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# База данных
*.sqlite
*.sqlite3
*.db

# Директории сборки
dist/
build/
*.pyc
__pycache__/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
.vercel
