.mobile-navbar {
  display: none;
  position: fixed;
  bottom: 0;          /* прижать к низу */
  left: 0;
  right: 0;
  top: auto;          /* убрать привязку к верху */
  height: 60px;       /* задай высоту */
  background: var(--mob-nav);    /* пока оставь для проверки */
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  border-top: 4px solid rgba(255, 0, 0, 0.486);
  
}
.mobile-navbar img{
    max-width: 40px;
    padding: 5px;
    border-radius: 5px;
    filter: var(--icon-filter);
}

@media (max-width: 768px) {
  .mobile-navbar {
    display: flex;  /* показать на мобилках */
  }
}
