* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #5a5a5a;
}

img {
  cursor: pointer;
}

.flex-div {
  display: flex;
  align-items: center;
}

:root {
  --bg-color: #f9f9f9;
  --bg-secondary: #ffffff;
  --text-primary: #0f0f0f;
  --text-secondary: #606060;
  --border-color: #e5e5e5;
  --hover-bg: #f2f2f2;
  --input-bg: #ffffff;
  --input-text: #0f0f0f;
  --input-border: #e5e5e5;
  --menu-bg: #ffffff;
  --icon-filter: invert(1);
  --mob-nav:rgba(36, 36, 36, 0.938); 
}

.dark {
  --bg-color: #0f0f0f;
  --bg-secondary: #1a1a1a;
  --text-primary: #f9f9f9;
  --text-secondary: #aaaaaa;
  --border-color: #333333;
  --hover-bg: #2a2a2a;
  --input-bg: #1a1a1a;
  --input-text: #f9f9f9;
  --input-border: #333333;
  --menu-bg: #242424;
  --icon-filter: none;
  --mob-nav: rgba(224, 224, 224, 0.938);
  

}

body {
  background-color: var(--bg-color);
  color: var(--text-primary);
  transition: background-color 0.3s, color 0.3s;
}

@media (max-width: 425px) {
  body {
    overflow-x: hidden;
  }
}