.container {
  background: var(--bg-color);
  padding-left: calc(15% + 16px);
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 32px;
}

.large-container {
  padding-left: 80px;
}

.feed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px 12px;
  padding: 16px 0;
}

@media (max-width: 900px) {
  .large-container,
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .feed {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .large-container,
  .container {
    padding-left: 8px;
    padding-right: 8px;
    overflow-x: hidden;
    width: 100%;
  }

  .feed {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}
